<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Forgot Password', 'none')" />
<body>
	 <!--=========== Loader =============-->
   			<span th:replace="loader :: loader"></span>
   <!--=========== Loader =============-->
   
    <!-- Recover-Password -->
    <section class="position-relative pb-0">
        <div class="recover-password-page-background" style="background-image:url('images/background/asset-10.JPG');">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <form id="pms_recover_password_form" class="pms-form" th:action="@{/forgot_password}" method="post"	>
                        <div th:if="${error != null}">
		<p class="text-danger">[[${error}]]</p>
	</div>
	<div th:if="${message != null}">
		<p class="text-warning">[[${message}]]</p>
	</div>	
                            <h4>Recover Password</h4>
                            <input type="hidden" id="pmstkn" name="pmstkn" value=""><input type="hidden"
                                name="_wp_http_referer" value="/recover-password/">
                            <p class="font-weight-bold">Please enter your username or email address.<br>You will receive
                                a link to create a new
                                password via email.</p>
                            <ul class="pms-form-fields-wrapper pl-0 mb-4">
                                <li class="pms-field">
                                    <label for="pms_username_email">Email</label>
                                    <input id="pms_username_email" name="email" type="email" required="required" autofocus="autofocus">
                                </li>
                            </ul>
                            <input type="submit" name="submit" value="Reset Password">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recover-Password -->

    <!-- Back-to-Top start -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- Back-to-Top end -->

    <!-- js-min -->
   <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/asyncloader.min.js}"></script>
    <!-- JS bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- owl-carousel -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- counter-js -->
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <!-- popper-js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
    <!-- Iscotop -->
    <script th:src="@{/js/isotope.pkgd.min.js}"></script>

    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>

    <script th:src="@{/js/slick.min.js}"></script>

    <script th:src="@{/js/streamlab-core.js}"></script>

    <script th:src="@{/js/script.js}"></script>

</body>
</html>