<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Reset Password', 'none')" />
<body>
	 <!--=========== Loader =============-->
   			<span th:replace="loader :: loader"></span>
   <!--=========== Loader =============-->
   
   	 <section class="position-relative pb-0">
        <div class="recover-password-page-background" style="background-image:url('images/background/asset-3.jpeg');">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <form id="pms_recover_password_form" class="pms-form" th:action="@{/reset_password}" method="post"	>
                        	<input type="hidden" th:value="${token}" name="token" /> 
                            <h4>Reset Your Password</h4>
                           
                            <ul class="pms-form-fields-wrapper pl-0 mb-4">
                                <li class="pms-field">
                                    <label for="pms_username_email">Password</label>
                                    <input type="password" name="password" id="password" placeholder="Enter your new password"
									class="form-control"
								 	minlength="8" maxlength="15" required="required" autofocus="autofocus"/>			
                                </li>
                                
                                <li class="pms-field">
                                    <label for="pms_username_email">Confirm Password</label>
                                   <input type="password" placeholder="Confirm your new password"
					class="form-control" oninput="checkPasswordMatch(this)"
					 minlength="8" maxlength="15" required="required"/>			
                                </li>
                            </ul>
                            <input type="submit" name="submit" value="Change Password">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recover-Password -->

    <!-- Back-to-Top start -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- Back-to-Top end -->

	<script type="text/javascript">
	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
</script>
    <!-- js-min -->
   <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/asyncloader.min.js}"></script>
    <!-- JS bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- owl-carousel -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- counter-js -->
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <!-- popper-js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
    <!-- Iscotop -->
    <script th:src="@{/js/isotope.pkgd.min.js}"></script>

    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>

    <script th:src="@{/js/slick.min.js}"></script>

    <script th:src="@{/js/streamlab-core.js}"></script>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>