<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopping Cart', 'none')" />
<body>
  <!--=========== Loader =============-->
   			<span th:replace="loader :: loader"></span>
   <!--=========== Loader =============-->
			<span th:replace="header :: header"></span>
   <!--========== Header ==============-->
  
   <!-- breadcrumb -->
    <div class="gen-breadcrumb" th:style=" 'background-image: url(' + @{/images/background/asset-10.JPG} + ');' ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="gen-breadcrumb-title" >
                            <div class="text-center">
								<h2>Checkout</h2>
						  </div>
                        </div>
                       
                    </nav>
                </div>
            </div>
        </div>
    </div>
   	<br>
  <div class="container">
  
	<div class="row">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header bg-warning"><h5 style="color: red;">Shipping information</h5></div>
				<div class="card-body text-secondary">
					<p>
						<b>Ship to:</b>&nbsp; [[${shippingAddress}]]
						<a th:href="@{/address_book(redirect=checkout)}">[Ship to another address]</a>
					</p>
					<p>
						<b>Days to deliver: </b>[[${checkoutInfo.deliverDays}]] day(s)
					</p>
					<p>
						<b>Expected deliver date: </b>[[${#dates.format(checkoutInfo.deliverDate, 'E, dd MMM yyyy')}]]
					</p>
				</div>
			</div>		
			
			<div class="card mt-3 mb-3">
				<div class="card-header bg-warning "><h5 style="color: red;">Payment Method</h5></div>
				<div class="card-body text-secondary">
					<div th:if="${checkoutInfo.codSupported}">
						<form th:action="@{/place_order}" method="post">
						<p>
							<input type="radio" name="paymentMethod" id="radioCOD" value="COD" /> Cash on Delivery (COD)
							&nbsp;
							<button class="btn btn-primary d-none" type="submit" id="buttonSubmit">Place Order with COD</button>
						</p>
						</form>
					</div>
				</div>			
			</div>
		</div>
		
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header bg-warning"><h5 style="color: red;">Order Summary</h5></div>
				<div class="card-body text-secondary">
					<div>
					<table>
						<th:block th:each="item : ${cartItems}">
						<tr th:with="book = ${item.book}">
							<td>[[${item.quantity}]] X &nbsp;&nbsp;</td>
							<td width="70%">
								<a th:href="@{'/b/' + ${book.alias}}" target="_blank">
									[[${book.shortName}]]
								</a>
								<br/>
								<small>Ship: <div th:replace="fragments :: format_currency(${item.shippingCost})"></div></small>
							</td>
							<td>
								<div th:replace="fragments :: format_currency(${item.subtotal})">
							</td>
						</tr>
						</th:block>
						<tr><td colspan="3"><hr/></tr>
					</table>
					</div>
					
					<div class="row mt-2">
						<div class="col">Items: </div>
						<div class="col"><div th:replace="fragments :: format_currency(${checkoutInfo.bookTotal})"></div></div>
					</div>
					
					<div class="row mt-2">
						<div class="col">Shipping & handling: </div>
						<div class="col"><div th:replace="fragments :: format_currency(${checkoutInfo.shippingCostTotal})"></div></div>
					</div>
							
					<div class="row mt-2">
						<div class="col">Order total: </div>
						<div class="col"><b><div th:replace="fragments :: format_currency(${checkoutInfo.paymentTotal})"></div></b></div>
					</div>										
				</div>
			</div>		
		</div>		
	</div>
</div>
   <br>
	<div th:replace="fragments :: modal_dialog"></div>

	 <span th:replace="footer:: footer"></span>
  <!-- Back-to-Top start -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- Back-to-Top end -->
<script type="text/javascript">
	contextPath = "[[@{/}]]";
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";
	
	$(document).ready(function() {
		$("#radioCOD").on("click", function() {
			$("#buttonSubmit").removeClass("d-none");
		});
	});
	
</script>

    <!-- js-min -->
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/asyncloader.min.js}"></script>
    <!-- JS bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- owl-carousel -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- counter-js -->
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <!-- popper-js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
    <!-- Iscotop -->
    <script th:src="@{/js/isotope.pkgd.min.js}"></script>

    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.number.min.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>

    <script th:src="@{/js/streamlab-core.js}"></script>

    <script th:src="@{/js/script.js}"></script>

</body>
</html>