<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	 <section class="pt-0 pb-0" th:fragment="banner">
       <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="gen-banner-movies">
                        <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="true"
                            data-desk_num="1" data-lap_num="1" data-tab_num="1" data-mob_num="1" data-mob_sm="1"
                            data-autoplay="true" data-loop="true" data-margin="30">
                            <div class="item" style="background: url('images/background/asset-9.JPG')">
                                <div class="gen-movie-contain h-100">
                                    <div class="container h-100">
                                        <div class="row align-items-center h-100">
                                            <div class="col-xl-6">
                                                <div class="gen-tag-line"><span></span></div>
                                                <div class="gen-movie-info">
                                                    <h3>Hot New Releases in Books</h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                   
                                                    <p>FREE delivery Wednesday, 24 August if you spend $40 on eligible international items. Order within 4 hrs 15 mins. Details
Or fastest delivery Friday, 19 August.</p>
                                                    
                                                </div>
                                               
                                                <div class="gen-movie-action">
                                                    <div class="gen-btn-container button-1">
                                                        <a href="single-movie.html" class="gen-button">
                                                            <span class="text">Shop Now</span>
                                                        </a>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="item" style="background: url('images/background/asset-10.JPG')">
                                <div class="gen-movie-contain h-100">
                                    <div class="container h-100">
                                        <div class="row align-items-center h-100">
                                            <div class="col-xl-6">
                                                <div class="gen-tag-line"><span></span></div>
                                                <div class="gen-movie-info">
                                                    <h3>Best Sellers in Books</h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                   
                                                    <p>#1 NEW YORK TIMES BESTSELLER - The world-famous cosmologist and author of A Brief History of Time leaves us with his final thoughts on the biggest questions facing humankind.</p>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <div class="gen-btn-container button-1">
                                                        <a href="single-movie.html" class="gen-button">
                                                            <span class="text">Shop Now</span>
                                                        </a>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="item" style="background: url('images/background/asset-11.JPG')">
                                <div class="gen-movie-contain h-100">
                                    <div class="container h-100">
                                        <div class="row align-items-center h-100">
                                            <div class="col-xl-6">
                                                <div class="gen-tag-line"><span></span></div>
                                                <div class="gen-movie-info">
                                                    <h3>100 Books to Read in a Lifetime</h3>
                                                </div>
                                                <div class="gen-movie-meta-holder">
                                                   
                                                    <p>FREE delivery Thursday, 18 August if you spend $40 on eligible international items. Order within 19 hrs 40 mins.</p>
                                                </div>
                                                <div class="gen-movie-action">
                                                    <div class="gen-btn-container button-1">
                                                        <a href="single-movie.html" class="gen-button">
                                                            <span class="text">Shop Now</span>
                                                        </a>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
</body>
</html>