<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Sign In', 'none')" />
<body>
 <!--=========== Loader =============-->
   			<span th:replace="loader :: loader"></span>
   <!--=========== Loader =============-->
	 <!-- Log-in  -->
    <section class="position-relative pb-0">
        <div class="gen-login-page-background" style="background-image: url('images/background/asset-3.jpg');"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <form name="pms_login" id="pms_login" th:action="@{/login}" method="post">
                        <div th:if="${param.error}">
						<p class="text-center" style="color: red;">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
					</div>
		<div th:if="${param.logout}">
			<p class="text-center" style="color: red;">You have been logged out.</p>
		</div>
                            <h4>Sign In</h4>
                             <div class="social-login">
                    <a class="btn facebook-btn social-btn" th:href="@{/oauth2/authorization/facebook}" style="background-color:#3C589C; " type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </a>
               
                    <a class="btn google-btn social-btn" th:href="@{/oauth2/authorization/google}" style="background-color:#DF4B3B; " type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </a>
                </div>
                <br>
                <p style="text-align:center">OR</p>
                            <p class="login-username">
                                <label for="user_login">Email Address</label>
                                <input type="email" name="email" id="user_login" class="input" required>
                            </p>
                            <p class="login-password">
                                <label for="user_pass">Password</label>
                                <input type="password" name="password" id="user_pass" class="input" required>
                            </p>
                            <p class="login-remember">
                                <label>
                                    <input name="remember-me" type="checkbox"> Remember
                                    Me </label>
                            </p>
                            
                            
                            <p class="login-submit">
                                <input type="submit" name="wp-submit" id="wp-submit" class="button button-primary"
                                    value="Log In">
                                <input type="hidden" name="redirect_to">
                            </p>
                            <input type="hidden" name="pms_login" value="1"><input type="hidden" name="pms_redirect"><a
                                th:href="@{/register}">Register</a> | <a th:href="@{/forgot_password}">Lost your
                                password?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Log-in  -->
<!-- Back-to-Top start -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- Back-to-Top end -->
	
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/asyncloader.min.js}"></script>
    <!-- JS bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- owl-carousel -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- counter-js -->
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <!-- popper-js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
    <!-- Iscotop -->
    <script th:src="@{/js/isotope.pkgd.min.js}"></script>

    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>

    <script th:src="@{/js/slick.min.js}"></script>

    <script th:src="@{/js/streamlab-core.js}"></script>

    <script th:src="@{/js/script.js}"></script>

</body>
</html>