<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopping Cart', 'none')" />
<body>
  <!--=========== Loader =============-->
   			<span th:replace="loader :: loader"></span>
   <!--=========== Loader =============-->
			<span th:replace="header :: header"></span>
   <!--========== Header ==============-->
  
   <!-- breadcrumb -->
    <div class="gen-breadcrumb" th:style=" 'background-image: url(' + @{/images/background/asset-10.JPG} + ');' ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="gen-breadcrumb-title" >
                            <div class="text-center">
								<h2>Your Shopping Cart</h2>
						  </div>
                        </div>
                       
                    </nav>
                </div>
            </div>
        </div>
    </div>
   	<br>
  <div class="container">
  	<div id="sectionEmptyCartMessage" th:class="'text-center' + ${#lists.isEmpty(cartItems) ? '' : ' d-none'}" >
		<h4>You have not chosen any products yet.</h4>
	</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title" th:unless="${#lists.isEmpty(cartItems)}">
                    <h5 class="book-title" style="color: red;">Items in your cart</h5>
                </div>
                                           
               <th:block th:each="item, status : ${cartItems}">
                <div class="ibox-content" th:with="book = ${item.book}" th:id="'row' + ${status.count}">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <tr>
                                <td width="250">
                                    <div>
                                    	<img th:src="@{${book.mainImagePath}}" style="height: 200px;"/>
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>                                 
                                        <a class="text-navy" th:href="@{'/b/' + ${book.alias}}" target="_blank" th:title="${book.name}">
											<b>[[${book.shortName}]]</b>
										</a>
                                    </h3>
                                
                                        <div th:replace="cart/quantity_control :: quantity_control(${item.quantity}, ${book.id})"></div>                                  
                                   
                                    <div class="m-t-sm">
                                        <a href="#" class="text-muted divCount"><i class="fa fa-gift" style="color: DeepSkyBlue;"></i> [[${status.count}]]</a>                                       |
                                        <a th:href="@{'/cart/remove/' + ${book.id}}" class="text-muted linkRemove" th:rowNumber="${status.count}"><i class="fa fa-trash" style="color: FireBrick;"></i> Remove item</a>
                                    </div>
                                </td>
                                <td>
                                    <div>
										<span>X&nbsp;</span>
										<div th:replace="book/book_fragment :: book_price"></div>
								</div>
                                </td>
                               
                                <td>
                                    <div>
						<span>=&nbsp;</span>
						<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span th:id="'subtotal' + ${book.id}" class="h4 subtotal">[[${#numbers.formatDecimal(item.subtotal, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span><span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>					
					</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row m-1" th:id="'blankLine' + ${status.count}">&nbsp;</div>
                   </th:block>
                <div class="ibox-content" th:unless="${#lists.isEmpty(cartItems)}" >
                    <a th:href="@{'/'}" class="btn btn-warning pull-right"><i class="fa fa-arrow-left"></i>Continue shopping</a>
                </div>
            </div>
        </div>
     
        
        <div class="col-md-3" th:unless="${#lists.isEmpty(cartItems)}" id="sectionTotal">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 class="book-title" style="color: red;">Cart Summary</h5>
                </div>
                <div class="ibox-content" >
                    <span style="color: DarkRed;" class="h5">Subtotal:</span>
                   <div class="mt-2">
						<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span><span id="total" class="h2">[[${#numbers.formatDecimal(estimatedTotal, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]</span><span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>	
			     </div>
                    <hr>
                    <span class="text-muted small">
                        *For United States, France and Germany applicable sales tax will be applied
                    </span>
                    <div class="m-t-sm">
                        <div class="btn-group">
                        <a href="#" class="btn btn-warning"><i class="fa fa-shopping-cart"></i> Proceed to checkout</a>                  
                        </div>
                    </div>
                </div>
              </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5 style="color: red;">Support</h5>
                </div>
                <div class="ibox-content text-center">
                    <h3 style="color: DimGray;"><i class="fa fa-phone" style="color: DimGrey;"></i> +43 100 783 001</h3>
                    <span class="small">
                        Please contact with us if you have any questions. We are avalible 24h.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
   
	<div th:replace="fragments :: modal_dialog"></div>

	 <span th:replace="footer:: footer"></span>
  <!-- Back-to-Top start -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
    </div>
    <!-- Back-to-Top end -->
    
 <script type="text/javascript">
	contextPath = "[[@{/}]]";
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";
	
	decimalDigits = [[${DECIMAL_DIGITS}]];
	decimalPointType = "[[${DECIMAL_POINT_TYPE}]]";
	thousandsPointType = "[[${THOUSANDS_POINT_TYPE}]]";
</script>

    <!-- js-min -->
	<script type="text/javascript" th:src="@{/js/shopping_cart.js}"></script>
	<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/asyncloader.min.js}"></script>
    <!-- JS bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- owl-carousel -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- counter-js -->
    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <!-- popper-js -->
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/swiper-bundle.min.js}"></script>
    <!-- Iscotop -->
    <script th:src="@{/js/isotope.pkgd.min.js}"></script>

    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/jquery.number.min.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>

    <script th:src="@{/js/streamlab-core.js}"></script>

    <script th:src="@{/js/script.js}"></script>

</body>
</html>