<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${title}]]</title>
    
     <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
     <link rel="stylesheet" th:href="@{/vendors/simple-datatables/style.css}">
    <link rel="stylesheet" th:href="@{/vendors/perfect-scrollbar/perfect-scrollbar.css}">
     <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="shortcut icon" th:href="@{/images/shopify.svg}" type="image/x-icon">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/js/common.js}" ></script>
    
</head>
<body>
		<div th:fragment="category_status" th:remove="tag">
		<a th:if="${cat.status == true}" class="fas fa-check-circle  icon-green" 
			th:href="@{'/categories/' + ${cat.id} + '/enabled/false'}"
			title="Disable this category"
			></a>
			
		<a th:if="${cat.status == false}" class="fas fa-circle  icon-dark" 
			th:href="@{'/categories/' + ${cat.id} + '/enabled/true'}"
			title="Enable this category"
			></a>	
	</div>
	
	<div th:fragment="category_actions" th:remove="tag">
		<a class="fas fa-edit  icon-green" th:href="@{'/categories/edit/' + ${cat.id}}"
			title="Edit this category"></a>
		&nbsp; 
		<a class="fas fa-trash  icon-red link-delete" 
			th:href="@{'/categories/delete/' + ${cat.id}}"
			th:catId="${cat.id}"
			title="Delete this category"></a>	
	</div>	
</body>
</html>