<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
 <div id="sidebar" class='active' th:fragment="sidebar">
            <div class="sidebar-wrapper active">
    <div class="sidebar-header">
    	<a th:href="@{/}"><img th:src="@{/images/amazon.png}"></a>
        
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
                     
                <li class='sidebar-title'>[[#{menu.mainmenu}]]</li>
                                         
                <li class="sidebar-item active ">
                    <a th:href="@{/}" class='sidebar-link'>
                        <i data-feather="home" width="20"></i> 
                        <span>[[#{menu.dashboard}]]</span>
                    </a>
                  
                </li>
                     
                                    
                <li class="sidebar-item  has-sub" sec:authorize="hasAuthority('Admin')">

                    <a href="#" class='sidebar-link'>
                        <i data-feather="triangle" width="20"></i> 
                        <span>[[#{menu.authentication}]]</span>
                    </a>

                    
                    <ul class="submenu ">
                        
                        <li>
                            <a th:href="@{/users}">[[#{menu.user}]]</a>
                        </li>                                                             
                       
                    </ul>
                    
                </li>
                         
                 
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                <li class="sidebar-item">

                    <a th:href="@{/categories}" class='sidebar-link'>
                        <i data-feather="box" width="20"></i> 
                        <span>[[#{menu.category}]]</span>
                    </a>
                
                    
                </li>
                
                 <li class="sidebar-item">

                    <a th:href="@{/authors}" class='sidebar-link'>
                        <i data-feather="box" width="20"></i> 
                        <span>[[#{menu.author}]]</span>
                    </a>
                
                    
                </li>
                
            
                </th:block>
                
               <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
                <li class="sidebar-item  has-sub">

                    <a href="#" class='sidebar-link'>
                        <i data-feather="loader" width="20"></i> 
                        <span>[[#{menu.book}]]</span>
                    </a>
                
                    <ul class="submenu ">                      
                        <li>
                            <a th:href="@{/books}">[[#{menu.book}]]</a>
                        </li>      
                        
                         <li>
                            <a href="component-extra-divider.html">[[#{menu.review}]]</a>
                        </li>                                                           
                    </ul>
                    
                </li>
                </th:block>
                
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                 <li class="sidebar-item  has-sub">

                    <a href="#" class='sidebar-link'>
                        <i data-feather="user" width="20"></i> 
                        <span>[[#{menu.customer}]]</span>
                    </a>
                
                    <ul class="submenu ">                      
                        <li>
                            <a th:href="@{/customers}">[[#{menu.customer}]]</a>
                        </li>                                                                 
                    </ul>
                    
                </li>
                
                 <li class="sidebar-item">

                    <a th:href="@{/shipping_rates}" class='sidebar-link'>
                        <i data-feather="wind" width="20"></i> 
                        <span>[[#{menu.shipping}]]</span>
                    </a>
                    
                </li>
               </th:block>
               
                <th:block sec:authorize="hasAnyAuthority('Admin','Assistant')">
                 <li class="sidebar-item">

                    <a href="#" class='sidebar-link'>
                        <i data-feather="wifi" width="20"></i> 
                        <span>[[#{menu.review}]]</span>
                    </a>
                    
                </li>
                </th:block>
                
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
                 <li class="sidebar-item">

                    <a th:href="@{/orders}" class='sidebar-link'>
                        <i data-feather="target" width="20"></i> 
                        <span>[[#{menu.order}]]</span>
                    </a>
                
                </li>
                </th:block>
                
                <th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
                 <li class="sidebar-item">

                    <a th:href="@{/reports}" class='sidebar-link'>
                        <i data-feather="sun" width="20"></i> 
                        <span>[[#{menu.report}]]</span>
                    </a>
                
                </li>
                  </th:block>
                                                  
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
        
        </div>
</body>
</html>