<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Book Store Admin', 'none')" />
<body>
    <div id="app">
       <span th:replace="sidebar :: sidebar"></span>
        <div id="main">
            
           <span th:replace="header :: header"></span>
            
<div class="main-content container-fluid">
     <span th:replace="locale :: locate"></span>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h3>Manage Categories </h3> <br>
                <a th:href="@{/categories/new}" class="fas fa-calendar-plus fa-2x mr-2" title="Add New Category"></a>
                &nbsp;&nbsp; 
                <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x mr-2 icon-success" title="Export to CSV"></a>
               
            </div>
			
            <div class="card-body">
           <div th:replace="fragments :: search_form_and_message('/categories/page/1')"></div>
          
                 <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Image</th>
                <th th:replace="fragments :: column_link('/categories', 'name', 'Name', 'none')" />						
					<th class="hideable-column">Alias</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cat : ${listCategories}">
                <td>[[${cat.id}]]</td>
                <td>
                	<img th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>
                </td>
					<td>[[${cat.name}]]</td>
					<td>[[${cat.alias}]]</td>
               <td>
						<div th:replace="fragments :: status(${cat.status}, 'category', '/categories/' + ${cat.id})"></div>
					</td>
					<td>
						<div th:replace="fragments :: edit('category', '/categories/edit/' + ${cat.id})"></div>
						&nbsp; 
						<div th:replace="fragments :: delete('category', ${cat.id}, '/categories/delete/' + ${cat.id}, ${!cat.hasChildren})"></div>					
					</td>		
               
              </tr>
             
            </tbody>
          </table>
          
          
            </div>
            
           <div th:if="${keyword != null}" class="text-center">
		<span>Search result does not show categories in hierarchical form</span>
		<div th:replace="fragments :: pagination('/categories', 'categories')"></div>
	</div>
	
	<th:block th:unless="${keyword != null}">
	<div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>
	
            
            <div th:replace="modal_fragments :: confirm_modal" /></div>
	
        </div>

    </section>
</div>

	<span th:replace="footer:: footer"></span>
        </div>
    </div>
    
<script type="text/javascript">
	moduleURL = "[[@{/categories}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'category');
		});
	});
</script>
	<script th:src="@{/js/common_list.js}"></script>
    <script th:src="@{/js/feather-icons/feather.min.js}"></script>
    <script th:src="@{/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/js/app.js}"></script>  
    <script th:src="@{/js/main.js}"></script>
</body>
</html>
